<p *ngIf="Scenario!=undefined">table-model works!{{Scenario!=undefined && Scenario.index}}</p>
<div class="mat-elevation-z8">

  <div class="table-header-titles">
      Models ({{dataSource&&dataSource.data.length}})
  </div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort #ModelSort="matSort" matSortActive="Created On" matSortDirection="desc" matSortDisableClear>
    
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element['Name']}} </td>
    </ng-container>
    
    <!-- Status Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element['Status']}} </td>
    </ng-container>

    <!-- Data Source Column -->
    <ng-container matColumnDef="Data Source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Source </th>
      <td mat-cell *matCellDef="let element"> {{element['Data Source']}} </td>
    </ng-container>
    
    <!-- Action Column -->
    <!-- <ng-container matColumnDef="index">
      <th mat-header-cell> Action </th>
      <td mat-cell *matCellDef="let element">{{element['index']}}</td>
    </ng-container> -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button color="primary" matTooltip="Copy" aria-label="Copy" [disabled]="element['Status']!=='Active'">
          <mat-icon>file_copy</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Delete" aria-label="Delete" (click)="deleteModel(element)" [disabled]="element['Status']==='Active'">
          <mat-icon>delete</mat-icon>
        </button>  
      </td>
    </ng-container>

    <!-- Training progress Column -->
    <ng-container matColumnDef="Training progress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Training progress </th>
      <td mat-cell *matCellDef="let element"> <mat-progress-bar mode="determinate" color="primary" [value]="element['Training progress']"></mat-progress-bar>{{element['Training progress']}}%</td>
    </ng-container>

    <!-- Accuracy Column -->
    <ng-container matColumnDef="Accuracy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Accuracy </th>
      <td mat-cell *matCellDef="let element"> <mat-progress-bar mode="determinate" [color]="detAccuracyColor(element['Accuracy'])" [value]="element['Accuracy']"></mat-progress-bar>{{element['Accuracy']}}% </td>
    </ng-container>

    <!-- Last Updated Column -->
    <ng-container matColumnDef="Last Updated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
      <td mat-cell *matCellDef="let element"> {{element['Last Updated']}} </td>
    </ng-container>

    <!-- Created By Column -->
    <ng-container matColumnDef="Created On">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
      <td mat-cell *matCellDef="let element"> {{element['Created On']}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': (selectedRow!=undefined && selectedRow.index == row.index)}"
         (click)="highlight(row)"></tr>
  </table>

  <mat-paginator #ModelPaginator="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
