<!-- <p-tabView>
  <p-tabPanel header="PrimeNG">
    <app-primeng-scenarios></app-primeng-scenarios>
  </p-tabPanel>
  <p-tabPanel header="Material">
    <app-material-scenarios></app-material-scenarios>
  </p-tabPanel>
  <p-tabPanel header="Fundamental-ngx">
    <app-fundamental-ngx></app-fundamental-ngx>
  </p-tabPanel>
</p-tabView> -->
<!-- <mat-tab-group>
  <mat-tab label="PrimeNG">
    <app-primeng-scenarios></app-primeng-scenarios>
  </mat-tab>
  <mat-tab label="Material">
    <app-material-scenarios></app-material-scenarios>
  </mat-tab>
  <mat-tab label="Fundamental-ngx">
    <app-fundamental-ngx></app-fundamental-ngx>
  </mat-tab>
</mat-tab-group> -->


<fd-tab-list>
  <fd-tab [title]="'Clarity'">
    <app-clarity-scenarios></app-clarity-scenarios>
  </fd-tab>
  <fd-tab [title]="'PrimeNG'">
    <app-primeng-scenarios></app-primeng-scenarios>
  </fd-tab>
  <fd-tab [title]="'Material'">
    <app-material-scenarios></app-material-scenarios>
  </fd-tab>
  <fd-tab [title]="'Fundamental-ngx'">
    <app-fundamental-ngx></app-fundamental-ngx>
  </fd-tab>
</fd-tab-list>



<!-- <app-model-table *ngIf="selectedScenario!=undefined" [Scenario]="selectedScenario">
  <mat-spinner></mat-spinner>
</app-model-table> -->
