<clr-datagrid [clrDgSingleSelected]="selected"
(clrDgSingleSelectedChange)="selectionChanged($event)">
  <clr-dg-column *ngFor="let col of cols">
    {{col.header}}
    <clr-dg-filter></clr-dg-filter>
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let scenario of scenarios" [clrDgItem]="scenario">
      <clr-dg-cell *ngFor="let col of cols">{{scenario[col.field]}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-detail *clrIfDetail="let detail">
    <clr-dg-detail-header>{{detail.name}}</clr-dg-detail-header>
    <clr-dg-detail-body>
      {{detail.name}}
    </clr-dg-detail-body>
  </clr-dg-detail>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="5">
      <!-- <clr-dg-page-size [clrPageSizeOptions]="[5,10,15]">Scenarios per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} scenarios -->
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
